# Virtual Environment
venv/
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Environment variables
.env
.env.*

# Database
db.sqlite3

# Static and media files
/media/
/staticfiles/

# System files
.DS_Store
Thumbs.db

# Local development files
local_settings.py

# Backup files
/backups/
*.bundle
*.tar.gz
