# Virtual Environment
venv/
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Environment variables
.env
.env.*

# Database files
*.db
*.sqlite3

# Log files
*.log

# System files
.DS_Store
Thumbs.db

# Static and media files
/media/
/staticfiles/

# Local development files
local_settings.py

# Backup files
/backups/
*.bundle
*.tar.gz
