[Unit]
Description=Service Manager Gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/service_manager
ExecStart=/var/www/service_manager/venv/bin/gunicorn -c gunicorn_config.py
Restart=always

[Install]
WantedBy=multi-user.target